<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>
<body>
        <section>
                <div id="change_username">
              <input id="username" type="text" />
              <button id="send_username" type="button">Change username</button>
                </div>
              </section>
          
              <section id="chatroom">
                <section id="feedback"></section>
              </section>
          
              
          
              <form id="input_zone"> 
                <input id="message" class="vertical-align" type="text" />
                <button id="send_message" class="vertical-align" type="button">Send</button>
              </form>
</body>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="chat.js"></script>
</html>